<div>
    <h2><span>Templates</span>
        <button class="btn btn-primary float-xs-right create-template" [routerLink]="['/', { outlets: { popup: ['template-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Template
            </span>
        </button></h2>
    <jhi-alert></jhi-alert>

    <div class="container-fluid">
        <div class="row">
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="templates">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Name</span></th>
            <th><span>Code</span></th>
            <th><span>Description</span></th>
            <th><span>Width</span></th>
            <th><span>Height</span></th>
            <th><span>Margin</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let template of templates ;trackBy: trackId">
                <td><a [routerLink]="['../template', template.id ]">{{template.id}}</a></td>
                <td>{{template.name}}</td>
                <td>{{template.code}}</td>
                <td>{{template.description}}</td>
                <td>{{template.width}}</td>
                <td>{{template.height}}</td>
                <td>{{template.margin}}</td>
                <td class="text-xs-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../template', template.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'template/'+ template.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'template/'+ template.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
