
<div *ngIf="template">
    <h2><span>Template</span> {{template.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row">
        <dt><span>Name</span></dt>
        <dd>
            <span>{{template.name}}</span>
        </dd>
        <dt><span>Code</span></dt>
        <dd>
            <span>{{template.code}}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
            <span>{{template.description}}</span>
        </dd>
        <dt><span>Width</span></dt>
        <dd>
            <span>{{template.width}}</span>
        </dd>
        <dt><span>Height</span></dt>
        <dd>
            <span>{{template.height}}</span>
        </dd>
        <dt><span>Margin</span></dt>
        <dd>
            <span>{{template.margin}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'template/'+ template.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
